# Overview

In [1]:
import numpy as np
import  pandas as pd
import utils

In [2]:
df = pd.read_feather("./data/imported_and_cleaned.feather")
df.head()

,Gender_Student,Lang_Spoken_Home,Books_Home,Own_Computer,Shared_Computer,Smartphone,Internet_Access,Study_Desk,Own_Room,ParentA_Edu_Level,...,Disorderly_Behavior_during_Math_Lessons,Students_Confident_in_Mathematics,Students_Value_Mathematics,Students_Like_Learning_Science,Instructional_Clarity_in_Science_Lessons,Students_Confident_in_Science,Students_Value_Science,Digital_Self_Efficacy,Disorderly_Behavior_during_Science_Lessons,Students_Value_Environmental_Preservation
0,Girl,Sometimes,Enough to fill one bookcase (26–100 books),Yes,Yes,Yes,Yes,Yes,Yes,I don’t know,...,Some Lessons,Not Confident in Mathematics,Somewhat Value Mathematics,Very Much Like Learning Science,High Clarity of Instruction,Somewhat Confident in Science,Strongly Value Science,High Digital Self-Efficacy,Some Lessons,Strongly Value
1,Girl,Sometimes,Enough to fill one bookcase (26–100 books),Yes,Yes,Yes,Yes,Yes,Yes,I don’t know,...,Some Lessons,Somewhat Confident in Mathematics,Do Not Value Mathematics,Very Much Like Learning Science,High Clarity of Instruction,Very Confident in Science,Somewhat Value Science,High Digital Self-Efficacy,Few or No Lessons,Strongly Value
2,Girl,Almost always,Enough to fill one bookcase (26–100 books),Yes,No,Yes,Yes,Yes,Yes,I don’t know,...,Some Lessons,Not Confident in Mathematics,Somewhat Value Mathematics,Very Much Like Learning Science,High Clarity of Instruction,Somewhat Confident in Science,Strongly Value Science,High Digital Self-Efficacy,Some Lessons,Very Strongly Value
3,Girl,Always,None or very few (0–10 books),Yes,Yes,Yes,Yes,Yes,Yes,<Lower secondary education—ISCED Level 2>,...,Some Lessons,Not Confident in Mathematics,Somewhat Value Mathematics,Very Much Like Learning Science,High Clarity of Instruction,Very Confident in Science,Strongly Value Science,High Digital Self-Efficacy,Few or No Lessons,Strongly Value
4,<Other>,Almost always,Enough to fill one bookcase (26–100 books),Yes,Yes,Yes,Yes,Yes,Yes,<Upper secondary education—ISCED Level 3>,...,Some Lessons,Not Confident in Mathematics,Somewhat Value Mathematics,Very Much Like Learning Science,High Clarity of Instruction,Very Confident in Science,Strongly Value Science,High Digital Self-Efficacy,Few or No Lessons,Very Strongly Value


## Information on the dataset

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3875 entries, 0 to 5089
Data columns (total 58 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Gender_Student                                3875 non-null   category
 1   Lang_Spoken_Home                              3875 non-null   category
 2   Books_Home                                    3875 non-null   category
 3   Own_Computer                                  3875 non-null   category
 4   Shared_Computer                               3875 non-null   category
 5   Smartphone                                    3875 non-null   category
 6   Internet_Access                               3875 non-null   category
 7   Study_Desk                                    3875 non-null   category
 8   Own_Room                                      3875 non-null   category
 9   ParentA_Edu_Level                             3875 non-null   category
 10  ParentB_Edu_Level                             3875 non-null   category
 11  Education_Expectation                         3875 non-null   category
 12  ParentA_Born_Country                          3875 non-null   category
 13  ParentB_Born_Country                          3875 non-null   category
 14  1ST_PV_MATHEMATICS                            3875 non-null   float64
 15  2ND_PV_MATHEMATICS                            3875 non-null   float64
 16  3RD_PV_MATHEMATICS                            3875 non-null   float64
 17  4TH_PV_MATHEMATICS                            3875 non-null   float64
 18  5TH_PV_MATHEMATICS                            3875 non-null   float64
 19  1ST_PV_SCIENCE                                3875 non-null   float64
 20  2ND_PV_SCIENCE                                3875 non-null   float64
 21  3RD_PV_SCIENCE                                3875 non-null   float64
 22  4TH_PV_SCIENCE                                3875 non-null   float64
 23  5TH_PV_SCIENCE                                3875 non-null   float64
 24  1ST_PV_BIOLOGY                                3875 non-null   float64
 25  2ND_PV_BIOLOGY                                3875 non-null   float64
 26  3RD_PV_BIOLOGY                                3875 non-null   float64
 27  4TH_PV_BIOLOGY                                3875 non-null   float64
 28  5TH_PV_BIOLOGY                                3875 non-null   float64
 29  1ST_PV_CHEMISTRY                              3875 non-null   float64
 30  2ND_PV_CHEMISTRY                              3875 non-null   float64
 31  3RD_PV_CHEMISTRY                              3875 non-null   float64
 32  4TH_PV_CHEMISTRY                              3875 non-null   float64
 33  5TH_PV_CHEMISTRY                              3875 non-null   float64
 34  1ST_PV_PHYSICS                                3875 non-null   float64
 35  2ND_PV PHYSICS                                3875 non-null   float64
 36  3RD_PV_PHYSICS                                3875 non-null   float64
 37  4TH_PV_PHYSICS                                3875 non-null   float64
 38  5TH_PV_PHYSICS                                3875 non-null   float64
 39  1ST_PV_EARTH_SCIENCE                          3875 non-null   float64
 40  2ND_PV_EARTH_SCIENCE                          3875 non-null   float64
 41  3RD_PV_EARTH_SCIENCE                          3875 non-null   float64
 42  4TH_PV_EARTH_SCIENCE                          3875 non-null   float64
 43  5TH_PV_EARTH_SCIENCE                          3875 non-null   float64
 44  Sense_of_School_Belonging                     3875 non-null   category
 45  Student_Bullying                              3875 non-null   category
 46  Students_Like_Learning_Mathematics            3875 non-null   category
 47  Instructional_Clarity_in_Mathematics_Lessons  3875 non-null   category
 48  Disorderly_Behavior_during_Math_Lessons       3875 non-null   category
 49  Students_Confident_in_Mathematics             3875 non-null   category
 50  Students_Value_Mathematics                    3875 non-null   category
 51  Students_Like_Learning_Science                3875 non-null   category
 52  Instructional_Clarity_in_Science_Lessons      3875 non-null   category
 53  Students_Confident_in_Science                 3875 non-null   category
 54  Students_Value_Science                        3875 non-null   category
 55  Digital_Self_Efficacy                         3875 non-null   category
 56  Disorderly_Behavior_during_Science_Lessons    3875 non-null   category
 57  Students_Value_Environmental_Preservation     3875 non-null   category
dtypes: category(28), float64(30)
memory usage: 1.0 MB

## Description of Scale Variables

In [4]:
scale = df.select_dtypes(include=['float64'])
scale.describe()

,1ST_PV_MATHEMATICS,2ND_PV_MATHEMATICS,3RD_PV_MATHEMATICS,4TH_PV_MATHEMATICS,5TH_PV_MATHEMATICS,1ST_PV_SCIENCE,2ND_PV_SCIENCE,3RD_PV_SCIENCE,4TH_PV_SCIENCE,5TH_PV_SCIENCE,...,1ST_PV_PHYSICS,2ND_PV PHYSICS,3RD_PV_PHYSICS,4TH_PV_PHYSICS,5TH_PV_PHYSICS,1ST_PV_EARTH_SCIENCE,2ND_PV_EARTH_SCIENCE,3RD_PV_EARTH_SCIENCE,4TH_PV_EARTH_SCIENCE,5TH_PV_EARTH_SCIENCE
count,3875.000000,3875.000000,3875.000000,3875.000000,3875.000000,3875.000000,3875.000000,3875.000000,3875.000000,3875.000000,...,3875.000000,3875.000000,3875.000000,3875.000000,3875.000000,3875.000000,3875.000000,3875.000000,3875.000000,3875.000000
mean,535.799511,537.114662,537.010392,536.973786,537.487854,545.206092,544.376989,546.444162,544.139611,544.195186,...,541.283019,539.495403,538.945232,541.415666,540.956961,554.733544,554.150265,556.414688,553.140120,554.238566
std,71.233248,72.853043,72.784336,72.328678,72.388332,77.334724,77.871636,76.905425,79.142504,77.284233,...,82.859139,81.806216,83.682377,82.906344,82.714247,80.345028,80.040187,77.334702,79.803988,80.013394
min,277.284500,253.506600,275.753990,276.135970,285.025620,244.643900,227.475680,260.325520,285.932770,254.227480,...,170.700710,185.838310,243.616350,216.242340,208.810100,206.490430,235.014930,290.635780,210.880330,242.684300
25%,487.232650,490.574675,487.940885,490.117620,490.422740,493.037685,494.455380,495.246335,492.137635,494.670760,...,487.654470,487.645265,483.618645,485.229305,485.597770,504.204730,504.454930,506.405335,501.506800,502.268485
50%,539.437640,540.276660,540.907620,540.137650,541.004020,548.824690,546.115010,550.099960,546.329420,545.974040,...,542.868100,542.248430,541.824490,542.680080,543.467830,558.103000,556.910010,557.727870,556.062740,556.815740
75%,585.311035,587.048795,587.434925,586.018585,586.923580,598.659730,598.581990,599.770580,599.574635,596.824690,...,598.413650,595.813615,596.514510,597.681080,597.729250,610.900500,608.424310,610.303900,607.686110,608.302775
max,760.064260,755.900090,786.846030,763.670550,768.400850,774.870490,792.583400,854.079880,781.217900,772.777110,...,809.859440,830.102190,823.285610,801.222220,811.223590,807.443020,796.283400,813.307410,811.250690,811.481830

## Description of the Caregorical Attributes (Columns)

In [5]:
categorical = df.select_dtypes(include=['category'])
categorical.describe()

,Gender_Student,Lang_Spoken_Home,Books_Home,Own_Computer,Shared_Computer,Smartphone,Internet_Access,Study_Desk,Own_Room,ParentA_Edu_Level,...,Disorderly_Behavior_during_Math_Lessons,Students_Confident_in_Mathematics,Students_Value_Mathematics,Students_Like_Learning_Science,Instructional_Clarity_in_Science_Lessons,Students_Confident_in_Science,Students_Value_Science,Digital_Self_Efficacy,Disorderly_Behavior_during_Science_Lessons,Students_Value_Environmental_Preservation
count,3875,3875,3875,3875,3875,3875,3875,3875,3875,3875,...,3875,3875,3875,3875,3875,3875,3875,3875,3875,3875
unique,3,4,5,2,2,2,2,2,2,9,...,3,3,3,3,3,3,3,3,3,3
top,Boy,Always,Enough to fill one bookcase (26–100 books),Yes,Yes,Yes,Yes,Yes,Yes,I don’t know,...,Some Lessons,Not Confident in Mathematics,Somewhat Value Mathematics,Somewhat Like Learning Science,High Clarity of Instruction,Not Confident in Science,Do Not Value Science,High Digital Self-Efficacy,Some Lessons,Very Strongly Value
freq,1922,3051,1173,3138,2702,3839,3855,3530,3319,1328,...,2059,1910,1792,1473,1733,1657,1493,2942,2004,1759

## Variables related to Parents

In [6]:
parents_columns = utils.getrelatedFields(df, 'Parent')
parents_columns.describe()

,ParentA_Edu_Level,ParentB_Edu_Level,ParentA_Born_Country,ParentB_Born_Country
count,3875,3875,3875,3875
unique,9,9,4,4
top,I don’t know,I don’t know,Yes,Yes
freq,1328,1366,2803,2784

## Variables related to Confidence

In [7]:
confidence_colums   = utils.getrelatedFields(df, 'Confident')
confidence_colums.describe()

       Students_Confident_in_Mathematics Students_Confident_in_Science
count                               3875                          3875
unique                                 3                             3
top         Not Confident in Mathematics      Not Confident in Science
freq                                1910                          1657

## Variables related to Bullying

In [8]:
bullying_columns = utils.getrelatedFields(df, 'Bully')
bullying_columns.describe()

             Student_Bullying
count                    3875
unique                      3
top     Never or Almost Never
freq                     2623

## Variables related to Mathematics

In [9]:
maths_columns = utils.getrelatedFields(df, 'Math')
maths_columns.describe()

,Students_Like_Learning_Mathematics,Instructional_Clarity_in_Mathematics_Lessons,Disorderly_Behavior_during_Math_Lessons,Students_Confident_in_Mathematics,Students_Value_Mathematics
count,3875,3875,3875,3875,3875
unique,3,3,3,3,3
top,Do Not Like Learning Mathematics,High Clarity of Instruction,Some Lessons,Not Confident in Mathematics,Somewhat Value Mathematics
freq,2219,1652,2059,1910,1792

## Variables related to Science

In [10]:
science_columns = utils.getrelatedFields(df, 'Science')
science_columns.describe()

,Students_Like_Learning_Science,Instructional_Clarity_in_Science_Lessons,Students_Confident_in_Science,Students_Value_Science,Disorderly_Behavior_during_Science_Lessons
count,3875,3875,3875,3875,3875
unique,3,3,3,3,3
top,Somewhat Like Learning Science,High Clarity of Instruction,Not Confident in Science,Do Not Value Science,Some Lessons
freq,1473,1733,1657,1493,2004

## Variables related to Clarity

In [11]:
clarity_columns = utils.getrelatedFields(df, 'Clarity')
clarity_columns.describe()

,Instructional_Clarity_in_Mathematics_Lessons,Instructional_Clarity_in_Science_Lessons
count,3875,3875
unique,3,3
top,High Clarity of Instruction,High Clarity of Instruction
freq,1652,1733

## Variables related to dissorderly behaviour

In [12]:
dissorderly_columns = utils.getrelatedFields(df, 'Disord')
dissorderly_columns.describe()

,Disorderly_Behavior_during_Math_Lessons,Disorderly_Behavior_during_Science_Lessons
count,3875,3875
unique,3,3
top,Some Lessons,Some Lessons
freq,2059,2004

# FOCUS OF ANALYSIS

### In this project, the focus of the analysis will be on these areas
- Gender and Contex
- Gender and Educational OutComes
- Gender and Behavioural
- Socio - Economic status and Context
- Socio-Economic status and Educational Outcomes
- Socio-Economic status and Behavioural Patterns
- Behavioral Patterns and Educational OutComes